<h1>Burgers!</h1>

<h2>These burger's haven't been eaten!!!</h2>

<ul>
    {{#each burgers}}
    {{#unless eaten}}
    {{> burger-partial/burger eaten=true}}
    {{/unless}}
    {{/each}}
</ul>

<h2>Burgers have been eaten!</h2>

<ul>
    {{#each burgers}}
    {{#if eaten}}
    {{> burger-partial/burger eaten=false}}
    {{/if}}
    {{/each}}
</ul>

<h2>Add a Burger</h2>
<form id="create-form">

    <div class="form-group">
        <label for="bu">Burger Name:</label>
        <input type="text" id="bu" name="name">
    </div>

    <div class="form-group">
        <label for="eaten">eaten?</label><br>
        <input type="radio" name="eaten" value="1" id="eaten" checked> eaten!<br>
        <input type="radio" name="eaten" value="0" id="noteaten"> Not eaten
    </div>

    <button type="submit">Add Burger</button>
</form>